body {
font-family:"Poppins",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

:root { --plyr-color-main: #198754; }

.navbar-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")}



a{text-decoration:none}

.form-control:focus,.form-check-input:focus
{box-shadow:0 0 0 0.2rem rgba(25,135,84,0.25);
border-color:#198754}
.form-check-input:checked{border-color:#198754;background-color:#198754}


.lift-up{transition:transform 0.5s ease}
.lift-up:hover{transform:translate(0,-9px)}



.typing{text-align:center} #typed{display:inline; font-weight:bold}
.typed-cursor{opacity:1;font-size: inherit; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; animation: blink 0.7s infinite}
@keyframes blink{0%{opacity:1} 50%{opacity:0}100%{opacity:1}}
@-webkit-keyframes blink{0%{opacity:1} 50%{opacity:0}100%{opacity:1}}
@-moz-keyframes blink{0%{opacity:1} 50%{opacity:0}100%{opacity:1}}


.bg-grey-100{background-color:#F3F4F6}
.bg-grey-200{background-color:#E5E7EB}


.bg-blue-50{background-color:#EFF6FF}

.bg-teal-50{background-color:#F0FDFA}
.bg-teal-700{background-color:#0F766E}
.bg-teal-800{background-color:#115E59}